.toggle_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle_btn:focus{
    outline: none;
}
.toggle_btn_line{
    width:25px;
    height: 1px;
    background: white;
}
@media(min-width:768px){
    .toggle_btn{
        display: none;
    }
}